.footer {
  padding: 20px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.144);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-upper {
  display: flex;
  align-items: center;
  padding: 0 0 10px 0;
}

.footer-logo {
  display: flex;
  font-weight: bold;
  font: normal normal bold 34px Open Sans;
  justify-content: center;
  align-items: center;
  margin: 0 600px 0 0;
}


.footer-logo-deliver {
  color: #f28b3b;
}

.footer-logo-to {
  color: rgba(0, 0, 0, 0.658);
}

.footer-copyrights {
  font: 12px Open Sans;
}

.icon-footer {
font-size: 30px;
margin: 14px;
cursor: pointer;
transition-duration: 500ms;
}

.icon-footer:hover {
  color: #00000071;
  transition-duration: 500ms;
}

@media only screen and (max-width: 1110px) {
  .footer-logo {
    margin: 0 120px 0 0;
  }
}

@media only screen and (max-width: 772px) {
  .footer-logo {
    font-size: 32px;
    padding: 10px 0 10px 0;
  }

  .footer-logo {
    margin: 0 60px 0 0;
  }

  .footer-copyrights {
    font: 14px Open Sans;
  }
  
  .icon-footer {
  font-size: 30px;
  margin: 14px;
  cursor: pointer;
  }
}

@media only screen and (max-width: 420px) {
  .footer-logo {
    font-size: 28px;
    padding: 10px 0 10px 0;
  }

  .footer-logo {
    margin: 0 40px 0 0;
  }

  .footer-copyrights {
    font: 12px Open Sans;
  }
  
  .icon-footer {
  font-size: 30px;
  margin: 6px;
  cursor: pointer;
  }
}