.mainPageContact {
  display: flex;
  height: min-content;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 50px 0 50px 0;
  box-shadow:
    inset 0px 11px 8px -10px rgb(0, 0, 0),
    inset 0px -11px 8px -10px rgb(0, 0, 0);
}

.mainPageContactLeft {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.mainPageContactLeftTitle {
  font: normal normal bold 50px Open Sans;
  color: #588ddd;
  padding: 10px 0 10px 0;
}

.mainPageContactLeftSubtitle{
  font: 26px Open Sans;
  padding: 10px 0 10px 0;
}

.mainPageContactLeft-Contacts {
  display: flex;
  margin: 20px 0 10px 0;
  font: 18px Open Sans;
  flex-direction: column;
}

.fa-envelope {
  margin: 0px 0 20px 0;
  color: #588ddd;
}

.fa-phone {
  color: #588ddd;
}

.pointer {
  cursor: pointer;
}

.mainPageContactRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPageContact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  height: 500px;
  width:600px
}

.button-send {
  min-height: 60px;
  font: bold 16px Open Sans !important;
}

@media only screen and (max-width: 1100px) {
  .mainPageContact {
    flex-direction: column;
  }

  .mainPageContactLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .mainPageContactLeft-Contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .hiddenContact {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-100%);
  }

  .showContact {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 640px) {
  .mainPageContact-form {
    width:400px
  }
}

@media only screen and (max-width: 440px) {
  .mainPageContact-form {
    width:300px
  }
  .mainPageContactLeftTitle {
    font: normal normal bold 36px Open Sans;
    color: #588ddd;
    padding: 10px 0 10px 0;
  }
  
  .mainPageContactLeftSubtitle{
    font: 22px Open Sans;
    padding: 10px 0 10px 0;
  }
}


.hiddenContact {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transition-delay: 100ms;
}

.showContact {
  opacity: 1;
  filter: blur(0);
  transition-delay: 100ms;
}

@media(prefers-reduced-motion) {
  .hiddenContact {
    transition: none
  }
}