.mainPageStart {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow:
    inset 0px 11px 8px -10px rgb(0, 0, 0),
    inset 0px -11px 8px -10px rgb(0, 0, 0);
}

.mainPageStart-title {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 54px;
  color: #588ddd;
}

.mainPageStart-getStarted {
  background-color: #f28b3b;
  margin-top: 20px;
  padding: 20px;
  border-radius: 80px;
  font: normal normal bold 38px Open Sans;
  border-radius: 1000px;
  cursor: pointer;
  text-align: center;
  transition-duration: 500ms;

}

.mainPageStart-getStarted a {
  text-decoration: none;
  color: #ffffffe1;
}

.mainPageStart-getStarted:hover {
  box-shadow:  0 0 4px 0px #000000;
  transition-duration: 500ms;
}

.mainPageStart-image {
  height: 500px;
  padding: 100px 100px 50px 0;
}


@media only screen and (max-width: 1280px) {
  .mainPageStart-image {
    height: 350px;
    padding: 50px 0px 50px 0;
  }

  .mainPageStart-title {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    color: #588ddd;
  }
  
  .mainPageStart-getStarted {
    background-color: #f28b3b;
    margin-top: 20px;
    padding: 20px;
    border-radius: 80px;
    font: normal normal bold 32px Open Sans;
    border-radius: 1000px;
    cursor: pointer;
    text-align: center;
  }
}


@media only screen and (max-width: 992px) {
  .mainPageStart {
    flex-direction: column;
  }

  .mainPageStart-image {
    height: 250px;
    padding: 40px 0px 0px 0;
  }

  .mainPageStart-title {
    font-size: 32px;
    text-align: center;
  }

  .mainPageStart-getStarted {
    font-size: 26px;
    text-align: center;
    margin-bottom: 80px;
  }
}
