.mainPageStart {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow:
    inset 0px 11px 8px -10px rgb(0, 0, 0),
    inset 0px -11px 8px -10px rgb(0, 0, 0);
}

.mainPageStart-title {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 54px;
  color: #588ddd;
}

.mainPageStart-getStarted {
  background-color: #f28b3b;
  margin-top: 20px;
  padding: 40px;
  border-radius: 80px;
  font: normal normal bold 44px Open Sans;
  border-radius: 1000px;
  padding:       20px 45px;
  cursor: pointer;

}

.mainPageStart-getStarted a {
  text-decoration: none;
  color: #ffffffe1;
}

.mainPageStart-getStarted:hover a {
  background-color: #f28b3b;
  color: #ffffff;
}

.mainPageStart-image {
  height: 500px;
  padding: 100px 100px 50px 0;
}

@media only screen and (max-width: 600px) {
  .mainPageStart {
    flex-direction: column;
  }

  .mainPageStart-image {
    height: 250px;
    padding: 50px 0px 0px 0;
  }

  .mainPageStart-title {
    font-size: 38px;
    text-align: center;
  }
  
  .mainPageStart-getStarted {
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
  }


}