.offer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
}

.offer-title {
  font: normal normal bold 56px Open Sans;
  color: white;
}

.offer-offers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 0;
}

.offer-offer1 {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 520px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.295);
  margin: 80px 10px 0 10px;
  border-radius: 15px;
  transition-duration: 500ms;
  font: normal normal bold 20px Open Sans;
  color: rgba(0, 0, , 0.644);
  opacity: 0.8;
}

.offer-offer1:hover {
  height: 540px;
  box-shadow:  0px 0px 4px 1px #000000c4;
  margin: 60px 10px 0 10px;
  transition-duration: 500ms;
  color: rgb(0, 0, 0);
  opacity: 1;


}

.fa-check {
  color: rgba(0, 243, 0, 0.808);
  padding: 0 0 25px 0;
}

.fa-xmark {
  color: rgba(243, 0, 0, 0.808);
  padding: 0 0 25px 0;
}

.nameOffer {
  font: normal normal bold 28px Open Sans;
  color: rgba(255, 255, 255, 0.747);
}

.offer-buttons {
  display: none;
}

.offer-offer-mobile {
  display: none;
}

.offer-arrow {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 50px 0 0 0;
}

.offer-arrow a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.527);
  transition-duration: 500ms;
  position: relative;
  top: 0;
  margin: 50px 0 0 0;
}

.offer-arrow a:hover {
  transition-duration: 500ms;
  color: rgb(255, 255, 255);
  position: relative;
  top: 5px;
}

@media only screen and (max-width: 980px) {
  .offer-offers {
    flex-direction: column;
  }

  .offer-buttons {
    opacity: 1;
    right: -100%;
    display: flex;
    margin: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 15px 15px 0 0;
    width: 600px;
    justify-content: space-around;
    font:  bold 12px Open Sans;
    color: white;
    text-transform: uppercase;
  }

  .offer-button {
    padding: 20px 40px 20px 40px;
    cursor: pointer;
  }

  .offer-button:focus {
    padding: 5px 150px 5px 15px;
    cursor: pointer;
  }

  .offer-button:hover:first-of-type {
    background-color: #f28b3b;
  }

  .offer-button:hover:nth-child(2) {
    background-color: #f28b3b;
  }

  .offer-button:hover:nth-child(3) {
    background-color: #f28b3b;
  }

  .offer-offer1 {
    display: none;
  }

  .offer-offer2 {
    display: none;
  }

  .offer-offer3 {
    display: none;
  }

  .offer-offer-mobile {
    display: block;
    height: 450px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.295);
    margin: 5px 10px 0 10px;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: normal normal bold 20px Open Sans;
    color: rgba(0, 0, , 0.644);
    opacity: 0.8;
  }
}

@media only screen and (max-width: 660px) {
  .offer-offers {
    flex-direction: column;
  }

  .offer-buttons {
    opacity: 1;
    right: -100%;
    display: flex;
    margin: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 15px 15px 0 0;
    width: 300px;
    justify-content: space-between;
    font:  bold 12px Open Sans;
    color: white;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
  }

  .offer-button {
    padding: 20px 10px 20px 10px;
    cursor: pointer;
  }

  .offer-button:focus {
    cursor: pointer;
  }

  .offer-offer1 {
    display: none;
  }

  .offer-offers-mobile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

  }

  .offer-offer-mobile {
    display: block;
    height: 600px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.295);
    margin: 5px 10px 0 10px;
    border-radius: 0 0 15px 15px;
    padding: 0px 20px 0px 20px;

  }
}